@import './base.css';

:root {
  --gray: #353535;
  --lt-gray: #999999;
  --white: #F2F2F2;
  --black: #101010;

  --el-text-color-regular: #101010;
  --el-input-font-color: #101010 ;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: transparent;
}
 body {
  max-width: calc(100vw - 40px);
  max-height:  calc(100vh - 40px);
  margin: 20px;
  padding: 0;
  background: #181818;
  color: #f7f7f7;
}

#app {
  margin: 0px;
  border-radius: 8px; 
  border: 1px solid #494949;
  
}
.header .h3 {
  font-size: 24px;
}

.header .subtitle a, .header .subtitle a:visited, .header .subtitle a:hover, .header .subtitle a:active {
  color: #7dcdeb;
}

.el-main {
  padding: 0;
}

.el-form-item__label {
  color: #D3D3D3;
}

.el-input input[type="text"] {
  color: #101010;
  font-size: 15px;
  padding: 0 6px;
}

.drawflow .el-icon svg {
   position: relative;
}

.node-list {
  margin: 0 12px;
  padding: 2px;
  color: var(--lt-gray);
  background: var(--gray);
}
.node-list .list {
  border-top:1px solid var(--gray); 
}  
.type-items, .line-items {
  padding-left: 4px;
  color: var(--white);
  background: var(--black);
  display: flex;
}

.line-items .edit-line, .type-items .pan-to {
  flex: 0 0 1em;
  padding: 1px 3px;
  cursor: pointer;
}
.line-items .edit-line.active svg {
  color: #00ed5f;
}
.line-items .edit-line:hover, .type-items .pan-to:hover {
  flex: 0 0 1em;
  opacity: 0.5;
}
.line-items .line-name, .type-items .node-name {
  padding-left: 8px;
}

.line-config {
  position: fixed;
  bottom: 20px;
  left: 272px;
  min-width: 250px;
  padding: 6px 24px  24px;
  background-color:  rgb(24,24,24);
  border-radius: 0 5px 0 0 ;
}

.line-config  .line-heading {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.line-config .button-bar {
  display: flex;
  justify-content: flex-end;
}

.overflow {
  overflow: auto;
}